<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "GuesbookMappers">
	<resultMap type = "guestbook.GuestArticle" id = "GuestArticleMap">
		<result property = "id" column = "id"/>
		<result property = "firstDate" column = "firstdate"/>
		<result property = "email" column = "email"/>
		<result property = "article" column = "article"/>
	</resultMap>

	<insert id ="write" parameterType="guestbook.GuestArticle">
		insert into guestbook_list (email, password, article, firstdate)
		values(#{email}, #{password}, #{article}, #{firstDate})
	</insert>
	
	<select id ="printlist" resultMap="GuestArticleMap">
		select * from guestbook_list order by id desc </select>
	
	<select id ="selectOneArticle" parameterType="string" resultType="guestbook.GuestArticle">
		select * from guestbook_list where id = #{id} </select>
	
	<update id="modify" parameterType="guestbook.GuestArticle">
		update guestbook_list set article = #{article}, lastmodifydate = #{lastModifyDate} where id = #{id}
	</update>
	
	<delete id="delete" parameterType="string">
		delete from guestbook_list where id = #{id}
	</delete>
</mapper>